body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #FFF0FA;
    font-size: 14px;
    margin: 0;
    padding: 0;
    color: #800c42;
    text-align: center;
}

h2 {
    color: #ee187c;
    font-size: 24px;
    margin: 15px 0 10px;
    font-weight: 600;
    text-shadow: 1px 1px 3px #e0b3e0;
}

p {
    font-size: 14px;
    color: #f91781;
    max-width: 600px;
    margin: auto;
    margin-bottom: 25px;
}

.calculadora-container {
    background: #FDE6FD;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 0 12px rgba(255, 0, 255, 0.15);
    max-width: 400px;
    margin: auto;
}

.calculadora-container h3 {
    color: #f11d80;
    font-size: 18px;
    margin-bottom: 15px;
}

input[type="number"],
input[type="text"],
select {
    padding: 10px;
    margin: 8px 5px;
    border: 1px solid #ee93be;
    border-radius: 8px;
    width: 95px;
    font-size: 15px;
    background-color: #fff;
    color: #800c42;
    box-shadow: inset 0 0 4px #f0b3f0;
    transition: all 0.3s ease;
}

input:focus,
select:focus {
    border-color: #f7539f;
    background-color: #fff2fa;
    outline: none;
}

button {
    padding: 10px 25px;
    background-color: #e06da3;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 15px;
    box-shadow: 0 0 8px #FF99FF;
}

button:hover {
    background-color: #f31a7f;
    box-shadow: 0 0 12px #e771a8;
}

#resultado {
    margin-top: 15px;
    padding: 10px;
    background-color: #FFE6F6;
    border-radius: 8px;
    font-size: 16px;
    color: #4f0729;
    width: 120px;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
    box-shadow: inset 0 0 4px #e0b3e0;
}

.volver {
    margin-top: 25px;
    display: inline-block;
    padding: 10px 25px;
    font-size: 14px;
    background: linear-gradient(90deg, #800c42, #f04695);
    color: white;
    border-radius: 25px;
    text-decoration: none;
    transition: background 0.3s ease;
    box-shadow: 0 0 8px #FF99FF;
}

.volver:hover {
    background: linear-gradient(90deg, #FF00FF, #B266FF);
}
